<html>

  <head>
    <title>Tweetsock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}" />
  </head>

  <body>
    
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper pink accent-3">
          <a href="/" class="brand-logo center ">Tweetsock</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
          </ul>
        </div>  
      </nav>
    </div>

    {% block content %}
    {% endblock %}

  </body>

</html>