{% extends 'main/header.html' %}

{% block content %}
  {% load staticfiles %}


  <div class="container">
    <div class="row" id="search-div">
      <div class="left col s10">
        <input type="text" id="handle" placeholder="Enter twitter handle of user" />
      </div>
      <div class="right col s2">
        <a href="" id="get_handle">
          <i class="material-icons">search</i>
        </a>
      </div>
    </div>

    <div id="alerts" class="row hidden">
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span id="error-message"></span>
      </div>
    </div>

    <div id="result"  class="row">
      <div id="load"></div>
      <div id="dem"></div>
      <div id="confetti"></div>
      <div id="rep"></div>
      <div id="confetti-2"></div>
    </div>

    <div id="stats" class="row hidden">
      <h2 style="display: block; margin:auto; width:50%; text-align:center;">STATISTICS</h2>
      <canvas id="keywords_chart"></canvas><br>
      <canvas id="hashtag_chart"></canvas><br>
      <canvas id="polarity_chart"></canvas><br>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script> -->
    <script type="text/javascript" src="{% static 'main/js/stats.js' %}"></script> 
    <script>
      $(document).ready(function() {
        console.log('Initital');
        $('#load').hide();
        $('#rep').hide();
        $('#dem').hide();
        $('#confetti').hide();
        $('#confetti-2').hide();
        $('#alerts').hide();
        $('#stats').hide();

      });

      $('#handle').focus(function(e) {
        $('#load').hide();
        $('#rep').hide();
        $('#dem').hide();
        $('#confetti').hide();
        $('#confetti-2').hide();
        $('#alerts').hide();
        $('#stats').hide();
        resetCanvas("keywords_chart");
        resetCanvas("hashtag_chart");
        resetCanvas("polarity_chart");

      });
    </script>
    <script>
      $('#get_handle').on('click',function(e){
        e.preventDefault();
        var handle = $('#handle').val();
        $('#load').show();
        $.ajax({
          type: "get",
          url: 'test',
          datatype:'jsonp',
          data: {
          'handle': handle,
          },
        }).done(function(response) {
          console.log(response);
          $('#load').hide();
          $('#alerts').hide();
          $('#stats').hide();

          if (response.party == 0) { //If the result is Democrat

            console.log('Democrat');
            $('#rep').hide();
            $('#confetti-2').hide();
            $('#dem').show();
            $('#confetti').show();

            $('#stats').show();
            keywordsChart("keywords_chart", response.keywords, response.key_pos, response.key_neg);
            polarityChart("polarity_chart", response.total_pos, response.total_neg);
            hashtagChart("hashtag_chart", response.hashtags, response.hashtag_count);

          } else if (response.party == 1) { //If the result is Republican
            console.log('Republican');
            $('#dem').hide();
            $('#confetti').hide();
            $('#rep').show();
            $('#confetti-2').show();

            $('#stats').show();
            keywordsChart("keywords_chart", response.keywords, response.key_pos, response.key_neg);
            polarityChart("polarity_chart", response.total_pos, response.total_neg);
            hashtagChart("hashtag_chart", response.hashtags, response.hashtag_count);


          } else { //Error handling
            $('#rep').hide();
            $('#dem').hide();
            $('#confetti').hide();
            $('#confetti-2').hide();
            $('#alerts').show();
            $('#stats').hide();

            if (response.msg == -1) {
              $('#error-message').text('Handle does not exist. Please enter another handle.');

            } else if (response.msg == -2) {
              $('#error-message').text('Tweets are protected. They cannot be accessed.');

            } else if (response.msg == -3) {
              $('#error-message').text('This handle does not have enough tweets to make a prediction. Please enter another handle.');

            } else {
              $('#error-message').text("Unknown error! Please try again later.");

            }
          }
        })
      }); 
    </script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.7/lottie.js"></script>
    <script type="text/javascript" src="{% static 'main/js/loading.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/repo.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/animations/rep.json' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/animations-repo.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/animations/DEMOCRAT.json' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/animations-demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/animations/7434-confetti.json' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/confetti.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </div>

{% endblock %}