body {
    background: url('../../main/images/birds.png');
    background-size: 100% auto;
    overflow-y: auto;
}

.container {
    margin-top: 50px;
    width: 58% !important;
    overflow: auto;
}



#search-div {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    max-height: 60px;
    background: white;
    width: 70%;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    margin-top: 10px;
}

#search-div i {
    font-size: 55px;
    display: inline-block;
    margin-bottom: 10px;
    color: white;

    width: 100%;
    margin: auto;
}
@media screen and (max-width: 450px) {
  html{
    line-height: 0.5;
  }
  #HELLO{
    font-size: 100px;
  }
  #result{
    height: 30vh%;
    width: 100vh%;
  }
  body{
    background: url('../../main/images/FacebookMessenger.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
#stats-title{
  font-size: 35px;
  }
  .col{
    width: 100vh%
  }
  #hashtag_chart{
    font-size: 2px;
  }
  #search-div{
    width: 100%;
  }
  #maincont{
    width: 100% !important;
  }
  #search-div i{
    margin-left: -10px;
  }
  /* #keywords_chart{
    background-color: #1DA1F2;
  }
  #hashtag_chart{
    background-color: #1DA1F2;
  }
  #polarity_chart{
    background-color: #1DA1F2;
  } */
  #confetti-2{
    bottom: 100px !important;		  
  }
  #confetti{
    bottom: 100px !important;		  
  }	
}


.left, .right {
    display: inline-block;
    margin: 0;
    position: relative;
    max-height: 60px;
}

.right {
    background: #1A237E;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left {
    padding: 0 .75rem 0 2rem !important;
}

#dem{
    position: relative;
    height: 70%;
    width: 70%;
    margin: 100px auto;
    bottom: 100px;
}

#confetti{
    position: relative;
    height: 60%;
    width: 60%;
    margin: auto;
    bottom: 550px;
}

#rep{
    position: relative;
    height: 70%;
    width: 70%;
    margin: 100px auto;
    bottom: 100px;
}

#confetti-2{
    position: relative;
    height: 60%;
    width: 60%;
    margin: auto;
    bottom: 550px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#result {
    /* Set a specific height */
    /* min-height: 500px;  */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98% !important;
    margin: auto;
    max-height: 400px !important;
    /* border: 1px solid green; */
}

.stats {
	height:1000px;
    background-color: #424040;
    font-size:36px;
    width: 98% !important;
  	margin: auto;
}

#stats canvas {
    margin: auto !important;
}

.hidden {
   display: none
}
